{% extends 'base.html' %}

{% block title  %}  Клиенты {% endblock  %}

{% block content %}
<br>
<div class="header-bar">
    <div>
        <br>
        <h1>Hello {{ request.user|title }}</h1>        
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<br> 
<div class="row text-center text-dark lh-2">
    <h4>Список клиентов в БД</h4>
</div>
<div class="button-group">
    <a href="{% url 'display_clients' %}" class="btn btn-primary btn-end" role="button">Клиенты</a>
    <a href="{% url 'display_orders' %}" class="btn btn-primary btn-end" role="button">К заказам</a>
    <a href="{% url 'add_client' %}" class="btn btn-warning btn-sm" role="button"> +</a>
    <a href="{% url 'print_clients' %}" class="btn btn-info btn-sm" onclick="window.print();">Печать</a>
</div>

<br>
<h4>Currently, Viewing {{ header }}</h4>
<!-- Форма поиска по наименованию клиента -->
<form action="{% url 'search_clients' %}" method="GET">
    <input type="text" name="name" placeholder="Search by name">
    <div class="button-container">
        <button type="submit" class="btn btn-primary" name="button">Поиск клиентов</button>
        <a href="{% url 'display_clients' %}" class="btn btn-secondary" role="button">Перезагрузка</a>
    </div>
</form>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ИД</th>
            <th>Клиент</th>
            <th>Электронная почта</th>
            <th>Телефон</th>
            <th>Показать фото</th>
            <th></th>            
            <th>Детали</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.pk }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                
                <td>
                    <img src="{{ client.photo.url }}" alt="connect"
                                 style="max-height:100px">
                </td>
                <td>
                    <a href="{{ client.photo.url}}"
                       class="btn btn-primary"
                       target="_blank"> Показать</a>
                </td>
                <td>
                    <a href="{% url 'client_detail' client.pk %}" class="btn btn-warning btn-sm" role="button"> Детали</a>
                </td>
            </tr>
        {% endfor %}        
    </tbody>
</table>

{% endblock content %}